/********* GENERAL **********/

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.profile {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.profile-pic {
		width: 100%;
		border-top-left-radius: 8px; 
		border-top-right-radius: 8px; 
		display: block;
}

/********* NAV **********/


nav {
	background-color: white;
	padding: 24px 64px;
	box-shadow: 8px 0 8px #777;

}

.icon {
	color: #777;
	margin-right: 32px;
}

#judge, #settings, #map, #elimination, #setup-account {
	width: 980px;
	height: 1240px;
}

/********* JUDGE **********/


#judge {
	
	background-color: #ef504c;
	
}

#profile-container {
	padding: 5%;
	width: 980px;
	height: 890px;
	overflow: hidden;
}

#judge .profile {
	width: 600px;
	margin: 0 auto;
	height: 764px;

}
	

/********* INFOS **********/

	#judge .infos {
		padding: 4%;
		font-weight: bold;
		color: #777;
	}

	/********* NAME **********/

		#judge .name {
			text-align: center;
			font-size: 2.5em;
		}

	/********* OPINIONS **********/

		#judge .opinion {
			width: 90%;
			margin: 0 auto;
		}
		#judge .icon-container {
			width: 30%;
			height: 150px;
			margin: 1.1%;
		}
		.icon-container {
			float: left;
			border-radius: 100%;
			background-size:cover;
			background-repeat:no-repeat;
			background-position: center center;
			text-align: center;
			padding-top: 0.6em;
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box; 
			box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
		}

		#judge .icon-container img {
			margin-top: -12px;
			width: 100%;
		}

		#judge .opinion1{
			background-image: url('images/difference/difference1.png');
		}

		#judge .opinion2{
			background-image: url('images/difference/difference3.png');
		}

		#judge .opinion3{
			background-image: url('images/difference/difference0.png');
		}

#judge .decision {
	width: 22%;
	height: 18%;
	border-radius: 100%;
	background-color: white;
	margin: 2% 10% 0;
	transition: 0.2s;
	background-size: 80%; 
}

#judge #dislike {
	float: left;
	background-image: url(images/icons/explode-icon.png);
	background-position: center center;
	background-repeat: no-repeat;
}

#judge #like {
	float: right;
	background-image: url(images/icons/heart-icon.png);
	background-position: center center;
	background-repeat: no-repeat;
}
/********* UNTOUCHED **********/

#judge .untouched {
	margin: 0 auto;
}

/********* DISLIKED **********/

#judge .rotate-left {
  transform: rotate(-30deg) scale(0.8) translate(-1600px);
  transition: 0.5s;
  /*opacity: 0;*/
  /*cursor: w-resize;*/
}

/********* LIKED **********/
#judge .rotate-right {
  transform: rotate(30deg) scale(0.8) translate(1600px);
  transition: 0.5s;
  /*opacity: 0;*/

  /*cursor: w-resize;*/
}

.ui-loader {
	display: none;
}

#elimination {
	
	background-color: #ef504c;
	
}

#elimination-container {
	padding: 5%;
}

#elimination .profile{
	width: 30%;
	float: left;
}

#eliminiation .profile-pic {
	width: 100%;
}

#setup-account {
	padding: 10%;
	background-color: #ef504c;
}

#setup-account .profile {
	width: 350px;
	float: left;
}

#setup-account .profile h1 {
	padding: 4%;
	
}

#question {
	width: 350px;
	float: right;
	font-size: 3em;
	color: white;
	font-weight: bold;
	text-align: justify;
}

.answers {
	display: inline-block;
	top: 700px;
	width: 980px;
	clear: both;
} 

.answers .icon-container {
	width: 18%;
	height: 180px;
	margin: 1%;
}
